* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100px + 450px);
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
    color: yellow;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav a {
    color: yellow;
}

nav a:hover {
    color: #e2ff61;
}

.banner {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: transparent;
}

.banner-content {
    padding: 30px 80px 30px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.banner .banner-content p {
    margin: 20px 0 0 10px;
}

.btn {
    display: inline-block;
    padding: 7px 12px;
    color: #000;
    text-align: center;
    border-radius: 3px;
    background: yellow;
    margin: 10px 0 0 0;
}

.btn:hover {
    opacity: 0.85;
}

.highlights {
    background-color: rgb(226, 250, 242);
    margin: 0;
}

.highlights-heading {
    text-align: center;
    padding: 40px 0 0 0;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 90px;
}

.card {
    flex: 1;
    height: 250px;
    padding: 20px;
    text-align: center;
}

.card+.card {
    margin-left: 20px;
}

.highlights .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.highlights .card p {
    color: rgb(48, 6, 6);
    padding: 10px 0 0 0;
}

.highlights .card p strong {
    color: rgb(23, 175, 124);
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    background-color: #1d1d1d;
}

.footer-icon a {
    display: block;
}

.fa-brands {
    font-size: 30px;
    color: #fff;
}